<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heronation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".myPageLoginActivity"></activity>
        <activity android:name=".ItemSearchActivity" />
        <activity android:name=".userModifyActivity" />
        <activity android:name=".ShopRankingSearchActivity" />
        <activity android:name=".myPageConnectingActivity" />
        <activity android:name=".loginPageActivity" />
        <activity android:name=".FilterPopUpActivity" />
        <activity android:name=".MeasurementActivity" />
        <activity android:name=".WishlistActivity" />
        <activity android:name=".MypageActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".ItemActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>